<div class="users-container">
  <div class="header-section">
    <button class="back-btn" (click)="goBack()">
      <svg width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
      </svg>
      العودة
    </button>
    <div class="header-content">
      <h2>المستخدمين</h2>
      <button class="add-btn" (click)="addUser()">
        <svg width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
        إضافة مستخدم
      </button>
    </div>
  </div>

  <div *ngIf="isLoading" class="loading">
    <p>جاري تحميل المستخدمين...</p>
  </div>

  <div *ngIf="!isLoading && users.length === 0" class="empty-state">
    <p>لا يوجد مستخدمين</p>
  </div>

  <div *ngIf="!isLoading && users.length > 0" class="users-grid">
    <div *ngFor="let user of users" class="user-card">
      <div class="user-avatar-large">
        <svg width="40" height="40" fill="currentColor" viewBox="0 0 16 16">
          <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
        </svg>
      </div>
      <div class="user-info">
        <h3>{{ user.fullName || user.username }}</h3>
        <p class="username">{{ user.username }}</p>
        <p class="email" *ngIf="user.email">{{ user.email }}</p>
      </div>
      <div class="user-actions">
        <button class="btn-icon btn-delete" (click)="deleteUser(user.id)" title="حذف المستخدم">
          <svg width="18" height="18" fill="currentColor" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Add User Modal -->
  <div *ngIf="showAddUserModal" class="modal-overlay" (click)="onUserCancel()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <app-add-user 
        (userAdded)="onUserAdded()" 
        (cancel)="onUserCancel()">
      </app-add-user>
    </div>
  </div>
</div>

